* {
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(navy, rgb(0, 110, 255), rgb(0, 174, 255));
    display: flex;
    justify-content: center;
    align-items: center;
}

.tic_tac_toe {
    background-color: white;
    width: 200px;
    height: 199px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.box {
    border: 1px solid black;
    text-align: center;
    font-size: 50px;
}

.pass {
    background-color: white;
    width: 110px;
    height: 30px;
    font-size: 20px;
}

.btn {
    width: 50px;
    height: 20px;
    background-color: gray;
    border-radius: 40px;
    position: relative;
}

.btn::before {
    content: "";
    position: absolute;
    background-color: white;
    border-radius: 50%;
    margin: 2px 5px;
    width: 15px;
    height: 15px;
    transition: all 0.2s linear;
}

.toggle {
    display: flex;
}

#check:checked+.btn,
#checkComp:checked+.btn {
    background-color: rgba(0, 0, 255, 0.856);
}

#check:checked+.btn::before,
#checkComp:checked+.btn::before {
    transform: translateX(25px);
}

#check,
#checkComp {
    display: none;
}
.mode {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    background-color: white;
    gap: 20px;
    padding: 0 20px;
    border: 2px solid black;
}

h2 {
    font-weight: lighter;
}

.turn {
    border: 2px solid black;
    width: 200px;
    background-color: yellow;
    display: flex;
    justify-content: left;
    align-items: center;
}

.score{
    width: 100vw;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    gap: 500px;
}

.game{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 20px;
}

.player{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:662px) {
    .score{
        gap: 0px;
    }
}